
.ratings-container {
    padding: 20px;
    background-color: black;
}

.ratings-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}


.rating-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.rating-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}


@media (max-width: 768px) {
    .ratings-container {
        padding: 10px;
    }
    
    .rating-card {
        margin: 5px;
    }
}
